
.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    margin-bottom: 5em;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 10px solid rgba(255, 255, 255, 0.1)
  }

  .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    
}

.paginationbtn{
    margin-top: 5px;
    padding: 8px;
    background-color: #D5DBDB ;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.208);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 8px;
    cursor: pointer;
    border:none;
    z-index: 1000;

}

.paginationbtn:hover{

    background-color: #717D7E ;
    transition: 0.3s;

}

.page{
    font-size: 26px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
