:root {
  --card-height: 600px;
  --card-width: calc(var(--card-height) / 2);
}
* {
  box-sizing: border-box;
}

.grid{
  width: 20%;
  height: 20%;
  position: relative;
  display: inline-block;
  justify-content: center;
  place-content: center;
  place-items: center;
  overflow: hidden;
  margin-bottom: -20%;

  
}


.card-container {
  width: 20vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  
  
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 50px;
  
  
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  transition: all 0.5s;
  height: 60%;
  top: 2%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::after {
  bottom: 0;
  opacity: 1;
  
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
 
}

.card:hover .wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  position: absolute;
  transition: transform 0.5s;
  font-size: 1rem;
  text-align: center;
  color: white;
	margin-top: 0;
	text-transform: uppercase;
	font-weight: 900;
  z-index: 1000;
  backdrop-filter: blur(100px);
  background-color: #191c2985 ;
}
.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}