*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

.detailsection{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url('./../../../public/detailsimage.jpg');
    background-size: cover;
}

.detailcontainer{
    position: relative;
    left: 25%;
    width: 600px;
    height: 660px;
    background: transparent;
    border: 2px solid rgba(255,255,255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}


.detailimage{
    width: 100%;
    height: 30%;
    margin-top: 0.2%;
    margin-bottom: 1%;
    border-radius: 3%;
    padding: 1%;
    
}

.description{
    width: 550px; 
    height: 100px; 
    overflow: auto;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    padding: 1%;
}

.detaildescription{
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
}

.title{
  display: flex;
  justify-content: center;
  font-size: 1rem;
  text-align: center;
  color: white;
  margin-top: -1%;
  text-transform: uppercase;
  font-weight: 900;
}

.platformcontainer{
    padding: 1%;
    font-size: 12px;
    margin-top: 1%;
}


.rating{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-bottom: 1%;
    margin-top: 1%;
}

.genres{
    padding: 1%;
}

.idcontainer{
    padding: 1%;
}